
.sobre-index, .produtos-index {
    padding-top: 30px;
    padding-bottom: 30px;
}
.servicos {
    height: 62vh;
}
.contatos {
    height: 90vh;
}
.login-section {
    height: 60vh;
}
.acessorios {
    height: 80vh;
}
.sup {
    padding: 20px;
}
.bordo {
    background: #610b0b;
}
.login-section p {
    margin-left: 20px;
}
.list-group {
    width: 350px;
}
.img-ft {
    width: 70px;
    height: 46px;
}
.navbar-brand {
    margin-left: 300px;
}
.navbar {
    background: #f3f3f3;
}
.navbar-nav {
    margin-left: 130px;
    border-bottom: 5px solid #610b0b;
}
.navbar-nav a {
    color: black !important;
    font-size: 25px;
    text-transform: uppercase;
}
.navbar-nav a:hover {
    text-decoration: underline;
}
.cad {
    margin-left: 335px;
}
.rodape {
    padding-top: 20px;
    padding-bottom: 10px;
}
.card {
    border: none;
}
.card img {
    width: 140px;
    height:280px;
}
.card img:hover {
    transform: scale(1.1); 
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
@media (max-width: 1366px)  {
    .navbar-brand  {
        margin-left: 0;
   }
   .navbar-nav {
    margin-left: 0px;
    }
    .navbar-nav a {
        color: black !important;
        font-size: 18px;
        text-transform: uppercase;
    }
}
@media (max-width: 1000px)  {
    .navbar-brand  {
        margin-left: 0;
   }
   .navbar-nav {
    margin-left: 0px;
    }
    .navbar-nav a {
        color: black !important;
        font-size: 18px;
        text-transform: uppercase;
    }
}
